<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
  <h2>Brilliant help, moments away.</h2>
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="row">
  <div class="col col-2">
    <ul class="category-menu">
      <li>
        <a href='https://www.customerthermometer.com/resources/quick-start-guide/' target="_blank">
          <img src="{{asset 'quick-start' prefix='img-' suffix='.png'}}" />Quick Start
        </a>
      </li>
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          {{#each sections}}
            <li>
              <a href='{{url}}'>
                {{name}}
              </a>
            </li>
          {{/each}}
        {{else}}
          {{#each sections}}
            <li>
              <a href='{{url}}' id="{{id}}">
                <img src="{{asset id prefix='img-' suffix='.png'}}" />{{name}}
              </a>
            </li>
          {{/each}}
        {{/if}}
      {{/each}}
    </ul>
    {{pagination}}
  </div>
  <div class="col">
    <div class="cont-grey">
      {{#if settings.show_recent_activity}}
        {{recent_activity}}
      {{/if}}
    </div>
    <div class="cont-grey recent-activity">
      <h2>Still need help?</h2>
      <a href="/hc/en-gb/requests/new" class="submit-a-request">CONTACT THE MINISTRY OF MAGIC</a>
    </div>
  </div>
</div>
